<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main class="viewport-wrapper">
    <div class="spellList-heading">
      <h1><%= `${user.userName[0].toUpperCase()}${user.userName.slice(1)}` %>'s Spellbook</h1>
      <% if (spells.length) { %>
      <h3 class="spellbook-count">
        Contains <%= `${spells.length}` %> <%= spells.length === 1 ? 'spell' : 'spells' %>
      </h3>
    <% } %>
    </div>
    
        
    <section class="max-width">
      <form action="/spells/createSpell" method='POST'>
        <input type="text"  list="allSpells" placeholder="Enter a spell name" name='name'>
        <datalist id="allSpells">
          <%   for (let n of allSpellNames) {    %>
            <option value='<%= n %>'>
          <%   }   %>
        </datalist>
              
        <input type="submit" value="Add Spell" class="spell-add">
      </form>      
    </section>
        
  <%# <span class="enterCustomSpell">Create New Spell</span> %>
        
        
    
    <section class="max-width">
      <ul>
      <% spells.reverse().forEach( spell => { %>
              <li class='spell' data-id='<%=spell._id%>'>
                <div class="spell-heading">
                  <h3 class='spell-name'><%= spell.name %></h3>
                  <p class='spell-level'>
                      <%= spell.level %> <%= spell.level !== 'Cantrip' ? 'Level' : ""%> - <%= spell.school%>
                  </p>
                </div>
                <div class='divider'></div>
                <div class='spell-desc'>
                  <%= spell.description%> 
                </div>
                <div class="spell-btn-group">
                  <button class='spell-edit'>
                    Edit
                  </button>
                  <button class="spell-del">
                    Delete
                  </button>
                </div>
              </li>
      <% }) %>    
      </ul>
    </section>
    
                    
    <section class="max-width">
      <a class="logout-button" href="/logout">Logout</a>
    </section>
    
    
        
    <!--   Modal   -->
    <%- include('./partials/modal'); %>
  </main>
    

    <script src="js/main2.js"></script>
</body>
</html>