<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Spells</h1>
    <ul>
    <% spells.forEach( spell => { %>
            <li class='todoItem' data-id='<%=spell._id%>'>
                <span class='spell_name'><%= spell.name %></span>
                <span class='spell_level'>
                    <% spell%>
                </span>
                <div class='spell_desc'><%= spell.description %></div>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= spells.length %> total spells.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>